@font-face {
  font-family: "Roobert";
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Roobert/RoobertLight.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 300;
  font-style: italic;
  src: url('/assets/fonts/Roobert/RoobertLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Roobert/RoobertRegular.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/Roobert/RoobertRegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/Roobert/RoobertMedium.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/Roobert/RoobertMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/Roobert/RoobertSemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/Roobert/RoobertSemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Roobert/RoobertBold.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/Roobert/RoobertBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 800;
  font-style: normal;
  src: url('/assets/fonts/Roobert/RoobertHeavy.ttf') format('truetype');
}

@font-face {
  font-family: "Roobert";
  font-weight: 800;
  font-style: italic;
  src: url('/assets/fonts/Roobert/RoobertHeavyItalic.ttf') format('truetype');
}
